body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 100vh;
  justify-content: center;
  position: relative;
  background-color: black;
  margin-top: 150px;
  border-radius: 10px;
}
.top-part {
  height: 40vh;
  width: 100%;
  position: absolute;
}
.background {
  position: absolute;
  height: auto;
}
